# call wasta-offline-udev for any added device.  Kernel (device id) is passed
SUBSYSTEM=="block", KERNEL=="sd??*", ACTION=="add", SUBSYSTEMS=="*", RUN+="/bin/sh -c '/usr/bin/wasta-off-udev $kernel'"
